@model IEnumerable<VehicleTracker.Models.Records>

@{
    ViewData["Title"] = "Index";
    var carid = ViewBag.carId;
    var CarID = Context.Session.GetInt32("carid");
    var notes = Context.Session.GetString("VehicleNotes");
    var cost = Context.Session.GetString("TotalCost");
}
<html>
<body class="ml-8 bg-gradient-to-br from-indigo-200 to-purple-100 via-cyan-100">
<div class="flex flex-col space-y-1 m-1">
    <div class="h-44">
        <div class="flex flex-row ">
            <div class="w-3/12 h-44">
                <div class="flex flex-col">
                    <div class="h-12 mt-2">
                        <a class="text-white bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 font-medium rounded-lg text-sm px-4 py-2.5 text-center me-2 mb-2"asp-controller="Vehicle" asp-action="Index">Back to garage</a>
                    </div>
                        <div class="h-18 mb-1">
                            <h1 class="text-center font-extrabold text-4xl p-3 tracking-wide rounded-3xl border-4 border-indigo-800">Service Records</h1>
                        </div>
                    <div class="h-12 ml-36">
                        <form>
                            <button asp-controller="Records" asp-action="Create" asp-route-id="@CarID" class="inline-flex items-center justify-center w-10 h-10 mr-2 text-indigo-100 transition-colors duration-150 bg-indigo-700 rounded-lg focus:shadow-outline hover:bg-indigo-800">
                                <svg class="w-4 h-4 fill-current" viewBox="0 0 20 20"><path d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" fill-rule="evenodd"></path></svg>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="w-9/12 h-44">
                <div class="flex flex-col">
                    <div class="h-6">
                        <h1 class="text-center text-lg underline underline-offset-4">Vehicle's Notes</h1>
                    </div>
                        <p class="h-28 w-fit mt-2 mx-20 self-center whitespace-pre">@notes</p>
                    <div class="h-10 self-end mr-12">
                        <a class="text-left" asp-controller="Vehicle" asp-action="EditNotes" asp-route-id="@CarID"><h1 class="underline underline-offset-"> Edit</h1></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="h-12">
        <div class="flex flex-row">
            <div class="w-40 h-12 ml-2 mt-2 mb-1">
                <a class="text-white bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2" asp-controller="Records" asp-action="Index" asp-route-id="@CarID">All Records</a>
            </div>
            <div class="w-96">
                <form asp-controller="Records" asp-action="Index" asp-route-id="@CarID" asp-route-category="@ViewBag.CurrentCategory">
                    <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
                    <div class="relative">
                        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                            </svg>
                        </div>
                        <input type="text" name="SearchString" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="" required>
                        <button type="submit" value="Search" class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
                    </div>
                </form>
            </div>
                <div class="ml-12 self-center">
                    <a class="underline underline-offset-4 mr-1">Total cost:</a> @cost
            </div>
        </div>
    </div>
    <div class="">
        <div class="flex flex-row">
                <div class="w-40 mr-4 mb-56">
                <div class="flex flex-col mt-14">
                    <div>
                        <h1 class="text-center text-base underline underline-offset-4">Sort by category:</h1>
                    </div>
                    <div class="text-center pt-4 mb-4">
                        <a class="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center me-2 mb-2" asp-controller="Records" asp-action="Index" asp-route-id="@CarID" asp-route-category="1">Maintenance</a>
                    </div>
                    <div class="text-center pt-4 mb-4">
                            <a class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-9 py-2.5 text-center me-2 mb-2" asp-controller="Records" asp-action="Index" asp-route-id="@CarID" asp-route-category="2"> Repair </a>
                    </div>
                    <div class="text-center pt-4 mb-4">
                            <a class="text-white bg-gradient-to-r from-cyan-400 via-cyan-500 to-cyan-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-cyan-300 font-medium rounded-lg text-sm px-8 py-2.5 text-center me-2 mb-2" asp-controller="Records" asp-action="Index" asp-route-id="@CarID" asp-route-category="3"> Upgrade  </a>
                    </div>
                    <div class="text-center pt-4 mb-4">
                        <a class="text-white bg-gradient-to-r from-teal-400 via-teal-500 to-teal-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-teal-300 font-medium rounded-lg text-sm px-8 py-2.5 text-center me-2 mb-2" asp-controller="Records" asp-action="Index" asp-route-id="@CarID" asp-route-category="4">Cosmetics</a>
                    </div>
                    <div class="text-center pt-4 mb-4">
                        <a class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-9 py-2.5 text-center me-2 mb-2" asp-controller="Records" asp-action="Index" asp-route-id="@CarID" asp-route-category="5">Other</a>
                    </div>
                </div>
            </div>
            <div class="mb-56">
                <div class="relative overflow-x-auto shadow-md sm:rounded-lg ml-1 mt-3">
                    <table class="table-auto w-full text-sm text-left rtl:text-right text-blue-100 dark:text-blue-100">
                        <thead class="text-xs text-white uppercase bg-blue-600 dark:text-white">
                            <tr>
                                <th scope="col" class="px-6 py-3">
                                    <a asp-action="Index" asp-route-id="@CarID" asp-route-category="@ViewBag.CurrentCategory" asp-route-SearchString="@ViewBag.CurrentSearch" asp-route-SortOrder="@ViewBag.SortParam">Date</a>
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Mileage
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Name
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Notes
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Cost
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Category
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model){
                            <tr class="bg-blue-100 border-b border-blue-400">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-800 whitespace-nowrap dark:text-blue-100">
                                    @Html.DisplayFor(modelItem => item.Date)
                                </th>
                                <td class="px-6 py-4 text-gray-800">
                                    @Html.DisplayFor(modelItem => item.Mileage)
                                </td>
                                <td class="px-6 py-4 text-gray-800">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td class="px-6 py-4 text-gray-800">
                                    @Html.DisplayFor(modelItem => item.Notes)
                                </td>
                                <td class="px-6 py-4 text-gray-800">
                                    @Html.DisplayFor(modelItem => item.Cost)
                                </td>
                                <td class="px-6 py-4 text-gray-800">
                                    @if (item.CategoryId == 1)
                                    {
                                        @:Maintenance
                                    }
                                    @if (item.CategoryId == 2)
                                    {
                                        @:Repair
                                    }
                                    @if (item.CategoryId == 3)
                                    {
                                        @:Upgrade
                                    }
                                    @if (item.CategoryId == 4)
                                    {
                                        @:Cosmetics
                                    }
                                    @if (item.CategoryId == 5)
                                    {
                                        @:Other
                                    }
                                </td>
                                <td class="px-6 py-4">
                                    <a asp-action="Edit" asp-route-id="@item.Id" asp-route-id="@item.VehicleId" class="font-medium text-gray-800 hover:underline">Edit</a>
                                    <a class="text-gray-800"> | </a>
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="font-medium text-gray-800 hover:underline">Delete</a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>