@model IEnumerable<VehicleTracker.Models.Vehicle>
@{
}

<html>
<body class ="ml-5 bg-gradient-to-br from-indigo-200 to-purple-100 via-cyan-100">

    <div class="flex flex-col items-center">
        <div>
            <div class="text-5xl font-extrabold text-center p-3 mt-1 mb-3 ml-32 mr-32 tracking-wide rounded-3xl border-4 border-indigo-800">Welcome to Your Garage</div>
        </div>
        <div>
            <div class=" m-2">
                <p>
                    <a class=" text-center text-black bg-gradient-to-br from-green-400 to-blue-600 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2" asp-action="Create">
                        Add Vehicle
                    </a>
                </p>
            </div>
        </div>
    </div>

@*     <p>
        <a asp-action="Create">Create New</a>
    </p> *@

@* <p>
    <a class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800" asp-action="Create">
    CREATE NEW
    </a>
</p> *@


    @foreach (var item in Model)
    {
        <div class="flex m-2">
            <div class="w-1/6 pt-24 pl-40 text-right mr-3"><p class="underline decoration-teal-700 decoration-2"><a asp-action="Edit" asp-route-id="@item.Id">Edit</a></p><p class="underline decoration-red-700 decoration-2"><a asp-action="Delete" asp-route-id="@item.Id">Delete</a></p></div>
            <div class="w-94 h-fit "><img class="rounded-lg" src="~/Images/@item.Image" style="width:370px; height:240px; " class="detailImage" /></div>
            <div class="w-1/6 pt-24 pl-12 "><p class="text-2xl">@Html.DisplayFor(modelItem => item.Make)</p><p class="text-lg"> @Html.DisplayFor(modelItem => item.CarModel)</p> <p class="text-base pt-2">@Html.DisplayFor(modelItem => item.Year)</p></div>
            <div class="w-1/6 pt-24 pl-12 "><a class="text-white bg-gradient-to-r from-cyan-400 via-cyan-500 to-cyan-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-cyan-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center me-2 mb-2" asp-controller="Records" asp-action="Index" asp-route-id="@item.Id" asp-route-notes="@item.Notes">Service Records</a></div>
        </div>
    }


@*     <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Make)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CarModel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Year)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Make)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CarModel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Year)
                    </td>
                    <td>
                    <img src="~/Images/@item.Image" style="width:100px; height:100px; " class="detailImage" />
                    </td>
                    <td>
                        <a asp-controller="Records" asp-action="Index" asp-route-id="@item.Id" asp-route-notes="@item.Notes">Service Records</a>
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table> *@

</body>
</html>